<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AfterEmptyUpdateDelayDayCount</key>
	<integer>3</integer>
	<key>AfterFullUpdateDelayDayCount</key>
	<integer>7</integer>
	<key>AlertTimeout</key>
	<integer>3540</integer>
	<key>EAFile</key>
	<string>/Library/Scripts/nice_updater_status.txt</string>
	<key>IconCustomPath</key>
	<string></string>
	<key>Log</key>
	<string>/Library/Logs/Nice_Updater.log</string>
	<key>MaxNotificationCount</key>
	<integer>8</integer>
	<key>UpdateInProgressTitle</key>
	<string>Software Update In Progress</string>
	<key>UpdateRequiredMessage</key>
	<string>Your administrator requires that these updates are installed as soon as possible.\n\nPlease save your work and press **Continue**. This will open the Software Update panel. From here, press **Install Now** to begin the installation.</string>
	<key>UpdateRequiredTitle</key>
	<string>macOS Software Updates Required</string>
</dict>
</plist>
